<?xml version="1.0"?>
<model>
  <name>iris_3Dlidar_D435i</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_3Dlidar_D435i.sdf</sdf>

  <author>
   <name>Eason Hua</name>
   <email>12010508@mail.sustech.edu.cn</email>
  </author>

  <description>
    This is a model of the iris Quadrotor, with 3Dliadr and D435i. The original model has been created by Eason Hua.
  </description>
</model>
