<?xml version="1.0"?>
<model>
  <name>p450_Eason</name>
  <version>1.0</version>
  <sdf version='1.6'>p450_Eason.sdf</sdf>

  <author>
   <name>Eason Hua</name>
   <email>12010508@mail.sustech.edu.cn</email>
  </author>

  <description>
    This is a model of the p450 Quadrotor, with 3Dliadr, D435i and monocular camera.
  </description>
</model>
