<launch>
    <include file="$(find easondrone_gazebo)/launch/mavros_posix_sitl.launch"/>

    <include file="$(find easondrone_gazebo)/launch/transform.launch"/>

    <include file="$(find px4ctrl)/launch/px4ctrl.launch"/>

    <!-- 启动rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find easondrone_gazebo)/config/simulation.rviz"/>
</launch>
