<launch>
    <node pkg="tf" type="static_transform_publisher" name="world2map"
          args="0 0 0 0 0 0 world map 100"/>

    <node pkg="tf" type="static_transform_publisher" name="base2realsense"
          args="0.115 0 0.122 -1.57 0 -1.57 base_link realsense_camera_frame 100"/>

    <node pkg="tf" type="static_transform_publisher" name="base2velodyne"
          args="0 0 0.16 0 0 0 base_link VLP16_link 100"/>

    <node pkg="tf" type="static_transform_publisher" name="base2monocular"
          args="0.0775 0 0.055 0 1.5707963 0 base_link monocular_link 100"/>
</launch>
